*{ 
    margin: 0;
    padding : 0 ;
    box-sizing:  border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth; 
    font-family: -apple-system, sans-serif;
     
}
:root{
    --bg-color: #fff;
    --snd-bg-color: #d5fdf9;
    --text-color: #000;
    --main-color: #00a8a8;
}
html{
    
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.6;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    width: 100%;
    top: 0; 
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    background-color: rgba(0, 168, 168, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    

}